<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="left-panel">
    <a href="/config" onclick="loadContent('/config')" class="nav-link">Configuration</a>
    <a href="/projects" onclick="loadContent('/projects')" class="nav-link">Software Product security vulnerability
        report</a>
    <a href="/bom" onclick="loadContent('/bom')" class="nav-link">Software Bill of Materials report</a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <img src="https://blackduck.philips.com/static/images/b6d9c4bd.svg" alt="Black Duck Logo"
         style="width: 150px; height: auto; margin-bottom: 20px;">
    <br>
    <img src="https://static.vecteezy.com/system/resources/previews/022/101/084/large_2x/philips-logo-transparent-free-png.png" alt="Black Duck Logo"
         style="width: 150px; height: auto; margin-bottom: 20px;">
</div>
<div class="coming-soon-container">
    <h1>Coming Soon</h1>
    <p>We are working hard to bring you this feature. Stay tuned!</p>
    <div id="countdown"></div>
    <div class="wip-animation">
        <div class="wip-circle"></div>
        <div class="wip-circle"></div>
        <div class="wip-circle"></div>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>