<div class="col-md-3 left-panel">
    <nav class="nav flex-column">
        <a href="/projects" onclick="loadContent('/projects')" class="nav-link text-dark active">SPSV Report</a>
        <a href="/bom" onclick="loadContent('/bom')" class="nav-link text-dark">SBOM Report</a>
    </nav>
    <div class="mt-auto">
        <img src="https://blackduck.philips.com/static/images/b6d9c4bd.svg" alt="Black Duck Logo"
             style="width: 100px; height: auto;">
        <br>
        <img src="https://static.vecteezy.com/system/resources/previews/022/101/084/large_2x/philips-logo-transparent-free-png.png"
             alt="Philips Logo" style="width: 100px; height: auto;">
        <h4 class="text-dark">@PHDSI</h4>
    </div>
</div>