<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Duck Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="left-panel">
    <a href="/config" onclick="loadContent('/config')" class="nav-link">Configuration</a>
    <a href="/projects" onclick="loadContent('/projects')" class="nav-link">Software Product security vulnerability
        report</a>
    <a href="/bom" onclick="loadContent('/bom')" class="nav-link">Software Bill of Materials report</a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <img src="https://blackduck.philips.com/static/images/b6d9c4bd.svg" alt="Black Duck Logo"
         style="width: 150px; height: auto; margin-bottom: 20px;">
    <br>
    <img src="https://static.vecteezy.com/system/resources/previews/022/101/084/large_2x/philips-logo-transparent-free-png.png"
         alt="Black Duck Logo"
         style="width: 150px; height: auto; margin-bottom: 20px;">
</div>
<div class="right-panel" id="right-panel">
    <h1>Black Duck Projects</h1>
    <div class="button-container">
        <button type="button" onclick="generateExcelReport()">Generate Excel Report</button>
    </div>
    <form id="projectForm">
        <label for="projects">Select a project:</label>
        <select id="projects" name="projects" onchange="getSelectedProject()">
            {% for project in projects %}
                <option value="{{ project._meta.href.split('/')[-1] }}"
                        data-name="{{ project.name }}">{{ project.name }}</option>
            {% endfor %}
        </select>

        <div class="input-container">
            <label for="newData">Enter project name with version:</label>
            <input type="text" id="newData" name="newData" oninput="updatePlaceholder()">
        </div>
    </form>
    <h2 id="selectedProjectName">Select a project to see its name here</h2>

    <div class="tab-buttons">
        <button type="button" onclick="showTab('tab1')">Title Page</button>
        <button type="button" onclick="showTab('tab2')">Component overview</button>
        <button type="button" onclick="showTab('tab3')">Analysis</button>
        <button type="button" onclick="showTab('tab4')">Document revision history</button>
        <button type="button" onclick="showTab('tab5')">Abbreviations</button>
        <button type="button" onclick="showTab('tab6')">References</button>
    </div>

    <div id="tab1" class="tab active">
        <h2>Purpose</h2>
        <p>"This document is used to report the product security analysis of vulnerabilities in software and hardware
            elements and parts (components), which are used in <span id="placeholder1">___________________</span>. This
            report is established
            during design to capture remaining vulnerabilities. As new security issues including vulnerabilities are
            continuously identified in software and hardware components, this report must be maintained during the
            entire
            lifecycle until End-of-Support, as part of post market obligations for both medical as well as non-medical
            products.
            This document demonstrates the continuous analysis of security issues and new vulnerabilities and serves as
            a
            trigger for follow-up actions and as an input into the higher-level product security risk assessment to
            further
            assess specific vulnerabilities and/or a set of aggregated vulnerabilities within specific components.
            This report uses the Software bill of materials (SBOM) document [REF-1] as one of its inputs. It captures
            the
            product-related vulnerability information, which originates from many sources such as information supplied
            by
            third party sources." </p>

        <h2>Scope</h2>
        <p>"This document is applicable to all software and hardware components used in <span id="placeholder">___________________</span>
    </div>
    <div id="tab2" class="tab">
        <h2>Component Overview</h2>
        <table id="projectDataTable">
            <thead>
            <tr>
                <th>Component name</th>
                <th>Component version</th>
                <th>Description</th>
                <th>Support Status</th>
            </tr>
            </thead>
            <tbody>
            <!-- Data will be populated here -->
            </tbody>
        </table>
    </div>
    <div id="tab3" class="tab">
        <h2>Analysis</h2>
        <table id="projectDataTable1">
            <thead>
            <tr>
                <th>Review date (YYYY-MM-DD)</th>
                <th>Component name</th>
                <th>Component version</th>
                <th>Vulnerability ID (e.g. CVE)</th>
                <th>Description</th>
                <th>Base score</th>
                <th>Exploitability</th>
                <th>Impact</th>
                <th>Remediation status</th>
                <th>Remediation comment</th>
                <th>Severity rating</th>
                <th>Update PSSD?</th>
                <th>Manage Defect requested?</th>
            </tr>
            </thead>
            <tbody>
            <!-- Data will be populated here -->
            </tbody>
        </table>
    </div>
    <div id="tab4" class="tab">
        <h2>Document Revision History</h2>
        <div id="revisionDataContainer">
        </div>
    </div>
    <div id="tab5" class="tab">
        <h2>Terminology & Abbreviations</h2>
        <div id="termListDataContainer">
        </div>
    </div>
    <div id="tab6" class="tab">
        <h2>References</h2>
        <div id="referencesDataContainer">
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2024 PHDSI - HSCS. All rights reserved.</p>
    </div>
    <div class="loader" id="loader"></div>

</div>
<script>
    function showTab(tabId) {
        let tabs = document.querySelectorAll('.tab');
        tabs.forEach(function (tab) {
            tab.classList.remove('active');
        });
        document.getElementById(tabId).classList.add('active');
    }

    function getSelectedProject() {
        let loader = document.getElementById('loader');
        loader.style.display = 'block';

        let select = document.getElementById('projects');
        let selectedOption = select.options[select.selectedIndex];
        let selectedValue = selectedOption.value;
        let selectedName = selectedOption.getAttribute('data-name');
        console.log('Selected project ID:', selectedValue);
        document.getElementById('selectedProjectName').textContent = selectedName;
        fetch(`/projects/${selectedValue}`)
            .then(response => response.json())
            .then(data => {
                console.log('Project data:', data);
                // Handle the response data as needed
                populateTable(data.data);
            })
            .catch(error => {
                console.error('Error fetching project data:', error);
            })
            .finally(() => {
                loader.classList.add('fade-out');
                setTimeout(() => {
                    loader.style.display = 'none';
                    loader.classList.remove('fade-out');
                }, 500); // Match the duration of the fadeOut animation
            });
    }

    function populateTable(data) {
        let tableBody = document.querySelector('#projectDataTable tbody');
        tableBody.innerHTML = ''; // Clear existing data
        data.forEach(item => {
            let row = document.createElement('tr');
            let componentName = document.createElement('td');
            let componentVersion = document.createElement('td');
            let componentDescription = document.createElement('td');
            let supportStatus = document.createElement('td');
            let supportStatusTextArea = document.createElement('textarea');

            componentName.textContent = item.componentName;
            componentVersion.textContent = item.componentVersionName;
            componentDescription.textContent = item.componentDescription;
            supportStatusTextArea.value = item.supportStatus || '';

            supportStatus.appendChild(supportStatusTextArea);
            row.appendChild(componentName);
            row.appendChild(componentVersion);
            row.appendChild(componentDescription);
            row.appendChild(supportStatus);

            tableBody.appendChild(row);

            let tableBody1 = document.querySelector('#projectDataTable1 tbody');
            item.componentVersion.forEach(version => {
                let vulnerabilityUpdatedDate = document.createElement('td');
                let componentName = document.createElement('td');
                let componentVersion = document.createElement('td');
                let vulnerabilityName = document.createElement('td');
                let vulnerabilityDec = document.createElement('td');
                let baseScore = document.createElement('td');
                let exploitability = document.createElement('td');
                let impact = document.createElement('td');
                let remediationStatus = document.createElement('td');
                let remediationComment = document.createElement('textarea');
                let severityRating = document.createElement('td');
                let updatePSSD = document.createElement('td');
                let manageDefect = document.createElement('td');

                vulnerabilityUpdatedDate.textContent = version.vulnerabilityUpdatedDate;
                componentName.textContent = item.componentName;
                componentVersion.textContent = item.componentVersionName;
                vulnerabilityName.textContent = version.vulnerabilityName;
                vulnerabilityDec.textContent = version.description;
                baseScore.textContent = version.baseScore;
                exploitability.textContent = version.exploitabilitySubscore;
                impact.textContent = version.impactSubscore;
                remediationStatus.value = version.remediationStatus;
                remediationComment.value = version.remediationComment || '';
                severityRating.textContent = version.severity;
                updatePSSD.textContent = "No";
                manageDefect.textContent = "No";
                console.log('Version', version.vulnerabilityName);

                let row = document.createElement('tr');
                row.appendChild(vulnerabilityUpdatedDate);
                row.appendChild(componentName);
                row.appendChild(componentVersion);
                row.appendChild(vulnerabilityName);
                row.appendChild(vulnerabilityDec);
                row.appendChild(baseScore);
                row.appendChild(exploitability);
                row.appendChild(impact);
                row.appendChild(remediationStatus);
                row.appendChild(remediationComment);
                row.appendChild(severityRating);
                row.appendChild(updatePSSD);
                row.appendChild(manageDefect);

                tableBody1.appendChild(row);
            });
        });
    }

    function generateExcelReport() {
        let button = document.querySelector('button[onclick="generateExcelReport()"]');
        let loader = document.getElementById('loader');

        button.classList.add('animate-click');
        button.disabled = true;
        loader.style.display = 'block';

        let selectedProjectId = document.getElementById('projects').value;
        let tab1Content = document.getElementById('tab1').innerHTML;

        fetch(`/generate_excel_report/${selectedProjectId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({tab1Content: tab1Content})
        })
            .then(response => {
                if (response.ok) {
                    return response.blob();
                } else {
                    throw new Error('Failed to generate Excel report');
                }
            })
            .then(blob => {
                let url = window.URL.createObjectURL(blob);
                let a = document.createElement('a');
                a.href = url;
                a.download = 'component_overview.xlsx';
                document.body.appendChild(a);
                a.click();
                a.remove();
            })
            .catch(error => {
                console.error('Error:', error);
            })
            .finally(() => {
                setTimeout(() => {
                    button.classList.remove('animate-click');
                    button.disabled = false;
                    loader.style.display = 'none';
                }, 300);
            });
    }

    function updatePlaceholder() {
        let newData = document.getElementById('newData').value;
        document.getElementById('placeholder').textContent = newData;
        document.getElementById('placeholder1').textContent = newData;

    }

    document.addEventListener('DOMContentLoaded', (event) => {
        let buttons = document.querySelectorAll('button');
        buttons.forEach(button => {
            button.addEventListener('click', () => {
                button.classList.add('animate-click');
                setTimeout(() => {
                    button.classList.remove('animate-click');
                }, 300);
            });
        });
    });

    document.addEventListener('DOMContentLoaded', (event) => {
        fetch('/get_revision_data')
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const revisionData = data.revision_data;
                    document.getElementById('revisionDataContainer').innerHTML = `
                        <table>
                            <tr><th>Revision</th><td>${revisionData.revision}</td></tr>
                            <tr><th>Revision Date</th><td>${revisionData.date}</td></tr>
                            <tr><th>Author</th><td>${revisionData.author}</td></tr>
                            <tr><th>Attendees</th><td>${revisionData.attendees}</td></tr>
                            <tr><th>Reason</th><td>${revisionData.crReason}</td></tr>
                        </table>
                    `;
                } else {
                    document.getElementById('revisionDataContainer').innerHTML = 'No data available';
                }

                if (data.status === 'success') {
                    const revisionData = data.revision_data;
                    const terms = JSON.parse(revisionData.terms);
                    let termsTable = '<table><tr><th>Term</th><th>Abbreviation</th></tr>';
                    terms.forEach(term => {
                        const [key, value] = term.split(': ');
                        termsTable += `<tr><td>${key}</td><td>${value}</td></tr>`;
                    });
                    termsTable += '</table>';
                    document.getElementById('termListDataContainer').innerHTML = termsTable;
                } else {
                    document.getElementById('termListDataContainer').innerHTML = 'No data available';
                }

                if (data.status === 'success') {
                    const revisionData = data.revision_data;
                    document.getElementById('referencesDataContainer').innerHTML = `
                        <table>
                            <tr><th>Reference Number</th><td>${revisionData.referenceNumber}</td></tr>
                            <tr><th>Document Title</th><td>${revisionData.documentTitle}</td></tr>
                            <tr><th>Document ID</th><td>${revisionData.documentId}</td></tr>

                        </table>
                    `;
                } else {
                    document.getElementById('referencesDataContainer').innerHTML = 'No data aailable';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('referencesDataContainer').innerHTML = 'Failed to load data';
            });
    });
</script>
</body>
</html>