<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black Duck Projects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
</head>
<body>
<div class="d-flex">
    {% include 'left_panel.html' %}
    <div class="right-panel flex-grow-1 p-4">
        <h2 class="mb-4 text-center" style="margin-top: -20px; margin-bottom: 40px;">Software Product Security Vulnerability Report</h2>
        <form id="projectForm" class="mb-4">
            <div class="form-row">
                <!-- Project Selection -->
                <div class="form-group col-md-4">
                    <select id="projects" name="projects" class="form-control" onchange="getSelectedProject()">
                        <option value="" disabled selected>--Select Project--</option>
                        {% for project in projects %}
                            <option value="{{ project._meta.href.split('/')[-1] }}" data-name="{{ project.name }}">{{ project.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Project Name with Version -->
                <div class="form-group col-md-4">
                    <input type="text" id="newData" name="newData" class="form-control" placeholder="Project Version" oninput="updatePlaceholder()">
                </div>

                <!-- Import Excel -->
                <div class="form-group col-md-4">
                    <input type="file" id="importExcel" class="form-control" accept=".xlsx" onchange="importExcelFile()" />
                </div>

            </div>
        </form>


        {#        <!-- Selected Project Name -->#}
        {#        <h2 id="selectedProjectName" class="mb-4">Select a project to see its name here</h2>#}

        <div class="d-flex justify-content-between mb-4">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary mr-2" onclick="showTab('tab1')">Title Page</button>
                <button type="button" class="btn btn-primary mr-2" onclick="showTab('tab2')">Component Overview</button>
                <button type="button" class="btn btn-primary mr-2" onclick="showTab('tab3')">Analysis</button>
                <button type="button" class="btn btn-primary mr-2" onclick="showTab('tab4')">Document Revision History</button>
                <button type="button" class="btn btn-primary mr-2" onclick="showTab('tab5')">Abbreviations</button>
                <button type="button" class="btn btn-primary" onclick="showTab('tab6')">References</button>
            </div>
            <div class="flex-column">
                <button type="button" class="btn btn-success" onclick="generateExcelReport()">
                    <i class="fas fa-download mr-2"></i> Export Report
                </button>
            </div>
        </div>

        <div id="tab1" class="tab active">
            <h3>Purpose</h3>
            <p>This document is used to report the product security analysis of vulnerabilities in software and hardware
                elements and parts (components), which are used in &nbsp;<span
                        id="placeholder">___________________</span>. This report is established during design to capture
                remaining vulnerabilities. As new security issues including vulnerabilities are continuously identified
                in software and hardware components, this report must be maintained during the entire lifecycle until
                End-of-Support, as part of post market obligations for both medical as well as non-medical products.

                This document demonstrates the continuous analysis of security issues and new vulnerabilities and serves
                as a trigger for follow-up actions and as an input into the higher-level product security risk
                assessment to further assess specific vulnerabilities and/or a set of aggregated vulnerabilities within
                specific components.

                This report uses the Software bill of materials (SBOM) document [REF-1] as one of its inputs. It
                captures the product-related vulnerability information, which originates from many sources such as
                information supplied by third party sources.</p>
            <h2>Scope</h2>
            <p>This document is applicable to all software and hardware components used in&nbsp; <span
                    id="placeholder1">___________________</span>.
        </div>
        <div id="tab2" class="tab">
            <h3>Component Overview</h3>
            <table class="table table-striped" id="projectDataTable">
                <thead class="thead-light">
                <tr>
                    <th>Component name</th>
                    <th>Component version</th>
                    <th>Description</th>
                    <th>Support Status</th>
                </tr>
                </thead>
                <tbody>
                <!-- Data will be populated here -->
                </tbody>
            </table>
        </div>
        <div id="tab3" class="tab">
            <h3>Analysis</h3>
            <table class="table table-striped" id="projectDataTable1">
                <thead class="thead-light">
                <tr>
                    <th>Review date (YYYY-MM-DD)</th>
                    <th>Component name</th>
                    <th>Component version</th>
                    <th>Vulnerability ID (e.g. CVE)</th>
                    <th>Description</th>
                    <th>Base score</th>
                    <th>Exploitability</th>
                    <th>Impact</th>
                    <th>Remediation status</th>
                    <th>Remediation comment</th>
                    <th>Severity rating</th>
                    <th>Update PSSD?</th>
                    <th>Manage Defect requested?</th>
                </tr>
                </thead>
                <tbody>
                <!-- Data will be populated here -->
                </tbody>
            </table>
        </div>
        <div id="tab4" class="tab">
            <h3>Document Revision History</h3>
            <table class="table table-bordered" id="revisionHistoryTable">
                <thead class="thead-light">
                <tr>
                    <th>Revision</th>
                    <th>Revision Date</th>
                    <th>Author</th>
                    <th>Attendees</th>
                    <th>Reason</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="addRow('revisionHistoryTable', 5)">Add Row</button>
        </div>
        <div id="tab5" class="tab">
            <h3>Terminology & Abbreviations</h3>
            <table class="table table-bordered" id="terminologyAbbreviationTable">
                <thead class="thead-light">
                <tr>
                    <th>Terminology & Abbreviations</th>
                    <th>Description/Definition</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="addRow('terminologyAbbreviationTable', 2)">Add Row</button>
        </div>
        <div id="tab6" class="tab">
            <h3>References</h3>
            <table class="table table-bordered" id="referencesTable">
                <thead class="thead-light">
                <tr>
                    <th>Reference number</th>
                    <th>Document title</th>
                    <th>Document ID</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <button class="btn btn-primary" onclick="addRow('referencesTable', 3)">Add Row</button>
        </div>
        <div class="footer mt-4">
            <p>&copy; 2024 PHDSI - HSCS. All rights reserved.</p>
        </div>
        <div class="loader" id="loader"></div>
    </div>
</div>
</body>
</html>